customeRules/rule1.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:simpleType name="uidLength">
    <xs:restriction base="xs:string">
      <xs:maxLength value="20"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="paramValueLength">
    <xs:restriction base="xs:string">
      <xs:maxLength value="30"/>
    </xs:restriction>
  </xs:simpleType>
  
  <xs:element name="features">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="feature" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="flipstrategy">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="param" maxOccurs="2" minOccurs="2">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string">
                            <xs:attribute type="xs:string" name="name" use="required"/>
                            <xs:attribute type="paramValueLength" name="value" use="required"/>
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute type="xs:string" name="class" fixed="org.ff4j.strategy.el.ExpressionFlipStrategy"/>
                </xs:complexType>
              </xs:element>
              <xs:element name="custom-properties" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="jiraid" maxOccurs="1" minOccurs="0">
                      <xs:complexType>
                        <xs:attribute name="name" type="xs:string" use="required" />
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="property" maxOccurs="unbounded" minOccurs="0">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string">
                            <xs:attribute type="xs:string" name="name" use="optional"/>
                            <xs:attribute type="xs:byte" name="value" use="optional"/>
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute type="uidLength" name="uid" use="required"/>            
            <xs:attribute type="xs:string" name="enable"/>
            <xs:attribute type="xs:string" name="description"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
